
// All custom styling goes here

/* Table of Content
==================================================
    # Variables
    # Site Styles
    # Page Specific
    # Wordpress
    # Responsive
    */


/* # Variables
================================================== */

// All default variables should be edited in the _settings.scss file /foundation/

// Create your own colour variables here
$primary-color: #48878c;
$secondary-color: #000000;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;


/* # Site Styles
================================================== */
    html, body {
      height: 100%;
    }

    body {
        -webkit-font-smoothing: antialiased; // Fix for webkit rendering
        -webkit-text-size-adjust: 100%;
    }

    .off-canvas-wrap,
    .inner-wrap {
      height: 100%;
    }

    .wrapper {
      margin: 0 auto -100px auto;
      height: 100%;
      height: auto !important;
      min-height: 100%;
    }

    .main-footer, .push {
      height: 100px;
    }

    // Mobile Top Bar
    .canvas-toggle {
      display:block;
      position:relative;
      width:100%;
      float: left;
      padding: 0 1em;
      height:2.5em;
      background: $secondary-color;
      color: $secondary-color;

      @media #{$large-up} {
        float: none;
      }

      span {
          position: absolute;
          display: block;
          width: 1.2em;
          height: 0;
          -webkit-box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;
          box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;
      }
    }

    .canvas-menu {
      ul li {
        width:100%;

        a {
          display:block;
          padding:0.8em;
          color:white;
        }

        a:hover {
            background:darken($secondary-color,10);
        }

        a:nth-child(2n) {
            background:darken($secondary-color, 10);
        }
      }
    }


/* # Page Specific
================================================== */




/* # Wordpress
================================================== */


// Image alignment in WYSIWYG
    .alignright {
      float:right;
      padding:5px;
    }
    .alignleft {
      float:left;
      padding:5px;
    }
// Post navigation pagination
    .post-navigation {
        margin:1.2em 0;
    }


/* # Responsive
================================================== */

@media #{$small-up} { }

@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
